/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/images/attrTermThumb
/public/images/profile_pic
/public/images/categoryThumb
/public/images/ProductImg
/public/images/HomePageBanner
/public/images/AdBanner
/public/images/Collection
/public/images/Notification
/public/images/return_request_images
/public/images/return_request_videos



